@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

:root {
  --main-backround: hsl(233, 47%, 7%);
  --card-background: hsl(244, 38%, 16%);
  --accent-color: hsl(277, 64%, 61%);
  --main-heading: hsl(0, 0%, 100%);
  --main-paragraph: hsla(0, 0%, 100%, 0.75);
  --stat-headings: hsla(0, 0%, 100%, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  color: var(--accent-color);
}

h1 {
  color: var(--main-heading);
}

h3 {
  color: var(--main-heading);
}

p {
  color: var(--main-paragraph);
}

.attribution {
  color: var(--stat-headings);
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background: var(--main-backround);
  font-family: "Inter", sans-serif;
  font-family: "Lexend Deca", sans-serif;
}

.container {
  margin: 100px 70px;
  background: var(--card-background);
  border-radius: 4px;
}

.bg-img {
  width: 100%;
  height: 200px;
  background: url("./images/image-header-mobile.jpg") no-repeat center center /
    cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.overlay {
  background: hsl(277, 89%, 30%);
  height: 100%;
  opacity: 0.5;
}

.content {
  padding: 25px;
}

.content h1 {
  text-align: center;
  font-size: 25px;
}

.content p {
  padding: 15px;
  font-size: 15px;
  margin-top: 20px;
  text-align: center;
  line-height: 1.5;
  color: var(--stat-headings);
}

.data {
  margin-top: 30px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.data p {
  font-size: 12px;
  display: inline;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.data h3 {
  letter-spacing: 2px;
}

.data > div:not(:last-child) {
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .container {
    margin: 100px;
    display: flex;
    flex-direction: row-reverse;
    height: 350px;
  }

  .content {
    padding: 40px;
  }

  .content h1 {
    text-align: left;
  }

  .content p {
    text-align: left;
    padding: 0;
  }

  .data {
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
  }

  .data > div:not(:last-child) {
    margin-top: 23px;
  }

  .bg-img {
    background: url("./images/image-header-desktop.jpg") no-repeat center center /
      cover;
    width: 100%;
    height: 100%;
    border-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  /* .container {
    margin: 150px;
    display: flex;
    flex-direction: row-reverse;
  }

  .content {
    padding: 50px;
  }

  .content h1 {
    font-size: 32px;
    text-align: left;
  }

  .content p {
    max-width: 400px;
    text-align: left;
    padding-left: 0;
  }

  .data {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .data h3 {
    text-align: left;
  }

  .data p {
    text-align: left;
    padding: 0;
  }

  .data > div:not(:last-child) {
    margin-top: 20px;
  }

  .bg-img {
    background: url("./images/image-header-desktop.jpg") no-repeat center center /
      cover;
    width: 70%;
    height: 420px;
  } */

  @media (min-width: 1100px) {
    .container {
      height: 400px;
      margin: 150px;
    }
    .content {
      padding: 60px;
    }
    .content h1 {
      font-size: 36px;
    }
    .content p {
      margin-top: 30px;
      line-height: 1.6;
    }
  }
}
